@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/bootswatch/dist/lux/bootstrap.min.css";

$border-color: #333333;
$body-color: #333333;
$body-bg-color: #333333;

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html {
  scrollbar-width: none;
}

#root {
  margin: 0;
  padding: 0;
}

.form-control:focus {
  box-shadow: none;
  background-color: #3333332a;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn-primary:hover {
  background-color: #222222;
  color: white;
}

#question-title {
  background-color: rgba(128, 128, 128, 0.2);
}

#texteditor {
  font-family: "Fira Code", monospace;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 0.3rem;
  margin-left: 0;
  margin-right: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  font-family: "Fira Code", monospace;
  background-color: rgba(128, 128, 128, 0.2);
  padding: 0.3rem;
  margin-left: 0;
  margin-right: 0;
}

#hero-box {
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero-box-title {
  color: #252525;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 72px */
}

#hero-box-text {
  color: #747474;
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 30px */
  text-wrap: wrap;
}

.feed-container {
  // background-color: #eaeaea;
  border-radius: 1rem;
  width: 90%;
}

.feed-question {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 1rem;
}

.question-title {
  width: 85%;
}

.interactions *:hover {
  cursor: pointer;
}

.upvote:hover {
  box-shadow: 1px 1px 1px 1px #222222;
}

.active-upvote {
  background-color: #d4ffdaa8;
}

.downvote:hover {
  box-shadow: 1px 1px 1px 1px #222222;
}

.active-downvote {
  background-color: #ffc9c9a2;
}

.active-comment {
  box-shadow: 1px 1px 1px 1px #222222;
}

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootswatch/dist/lux/variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
